.landing-login-button-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align items vertically */
    margin-right: 1rem;
}

.landing-login-button {
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    height: 2.3rem; /* Adjusted height */
    padding-inline: 30px; /* Adjust for icon width and padding */
    background-color: #1ed7601a;
    border: 2px solid rgb(119, 255, 167);
    border-radius: 20px;
    color: rgb(30 215 96);
    cursor: pointer;
    font-weight: bolder;
    transition-duration: 0.5s;
}

.landing-login-button:hover {
    background-color: rgba(30, 215, 95, 0.3);
}

@media screen and (max-width: 431px) {
    .landing-login-button-container {
        right: 4.55rem;
    }
}

@media screen and (max-width: 391px) {
    .landing-login-button-container {
        right: 3.9rem;
    }
}

@media screen and (max-width: 391px) {
    .landing-login-button-container {
        right: 3.3rem;
    }
}

@media screen and (max-width: 431px) {
    .landing-login-button {
        padding-inline: 40px;
    }
}